[Unit]
Description=macsec key broadcast receiving daemon
After=macsec.service 
PartOf=macsec.service

[Service]
User=root
WorkingDirectory=/opt/macsec
ExecStartPre=sleep 5
ExecStart=/usr/bin/python3 /opt/macsec/macpipe.py -r
Restart=always
RestartSec=5
TimeoutStartSec=5

